:root{
    --verde: rgb(44, 116, 33);
    --branco: aliceblue;
    --azul-claro: #053c64d7;
    --preto: black
}

.preco {
    font-size: 30px;
    color: var(--verde);
}

.titulo {
    padding-bottom: 10px;
    font-weight: 400;
}

.vendedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}

.nome {
    margin-left: 5px;
}

.foto {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
}

.section {
    padding-top: 10%;
    gap: 25px 25px;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.botao_whatzapp a{
    display: flex;
    font-size: 20px;
    padding: 0 60px 0 60px;
    color: var(--preto);
    background-color: var(--verde);
    cursor: pointer;
    border: none !important;
    text-align: center;
    color: var(--branco);
}

.elemento {
    z-index: 1;
    background-color: var(--branco);
    margin-top: 20%;
    padding: 10px;
    border-radius: 3%;
    border-top: 10px solid var(--azul-claro);
    transition: all ease-in .2s;
}


.elemento:hover {
    transform: scale(102%);
}

.elemento img {
    width: 100%;

}

@media only screen and (max-width: 1400px) {
    .section {
        padding-top: 20%;
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .section {
        padding-top: 30%;
        width: 85%;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .section {
        padding-top: 35%;
        width: 90%;
        grid-template-columns: 1fr;
    }
}